click
cryptography
dbus-python
free_tls_certificates
GitPython
gnupg
miniupnpc
netifaces
ntplib
-e git+https://git.coderouge.co/arkOS/mockldap@0.3.0#egg=mockldap-0.3.0
psutil
-e git+https://git.coderouge.co/arkOS/python-cryptsetup@1.7.2#egg=pycryptsetup-1.7.2
pyldap
-e git+https://github.com/rhinstaller/pyparted@v3.10.7#egg=pyparted-3.10.7
python-pacman
python-nginx
requests
semantic_version
