click
cryptography
dbus-python
free_tls_certificates
GitPython
gnupg
miniupnpc
netifaces
ntplib
https://github.com/arkOScloud/mockldap/archive/0.3.0.tar.gz#egg=mockldap-0.3.0
passlib
psutil
https://github.com/arkOScloud/python-cryptsetup/archive/1.7.2.tar.gz#egg=pycryptsetup-1.7.2
pyldap
https://github.com/rhinstaller/pyparted/archive/v3.10.7.tar.gz#egg=pyparted-3.10.7
python-pacman
python-nginx
requests
semantic_version
wheel
