click
cryptography
dbus-python
free_tls_certificates
GitPython
gnupg
miniupnpc
netifaces
ntplib
https://git.coderouge.co/arkOS/mockldap/repository/archive.tar.gz?ref=0.3.0#egg=mockldap-0.3.0
psutil
https://git.coderouge.co/arkOS/python-cryptsetup/repository/archive.tar.gz?ref=1.7.2#egg=pycryptsetup-1.7.2
pyldap
https://github.com/rhinstaller/pyparted/archive/v3.10.7.tar.gz#egg=pyparted-3.10.7
python-pacman
python-nginx
requests
semantic_version
pydbus
